@import 'base';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
// html {
//   box-sizing: border-box;
// }

// html,
// body {
//   margin: 0;
//   padding: 0;
//   height: 100%;
//   font-family: sans-serif;
// }

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-intro {
//   font-size: large;
// }

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }



@media (min-width: 768px){
  .container {
    width: 750px;
  }
}

@media (min-width: 992px){
  .container {
      width: 970px;
  }
}

@media (min-width: 1200px){
  .container {
      width: 1170px;
  }
}

@media (min-width: 1900px){
  .container {
      width: 1870px;
  }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	.site-wrapper {
		width: 100%;
		// background: linear-gradient(to bottom, black, #92278f);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}

.col-form-label {
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
  line-height: 1.5;
}