.visibilityTab {
    .rule,
    .ruleGroup .ruleGroup {
      margin-top: 0.5rem;
      margin-left: 0.5rem; }
    
    .ruleGroup {
      padding: 0.5rem;
      border: 1px solid #CCC;
      border-radius: 4px;
      background: rgba(224, 218, 205, 0.5);
      }
}
