.visibilityTab .rule,
.visibilityTab .ruleGroup .ruleGroup {
  margin-top: 0.5rem;
  margin-left: 0.5rem; }

.visibilityTab .ruleGroup {
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(224, 218, 205, 0.5); }

.form-builder-panel div.form-control-panel {
  float: left;
  width: 200px;
  min-height: 200px;
  margin-right: 20px; }
  .form-builder-panel div.form-control-panel li.sortable-control {
    height: 44px;
    padding: 0; }
    .form-builder-panel div.form-control-panel li.sortable-control:hover {
      cursor: move;
      background-color: #f2f2f2; }
    .form-builder-panel div.form-control-panel li.sortable-control div {
      width: 100%;
      padding: 10px;
      font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 14px;
      height: 41px; }

.form-builder-panel div.stage-panel {
  position: relative;
  display: inline-block;
  width: calc(100% - 225px);
  background-color: rgba(255, 255, 255, 0.25);
  min-height: 500px; }
  .form-builder-panel div.stage-panel.empty {
    border: 3px dashed #ccc; }
  .form-builder-panel div.stage-panel div.candidate-element {
    height: 0;
    padding: 0;
    background: radial-gradient(ellipse at center, #b59b9b 0, transparent 75%);
    border: 0 none;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    visibility: visible;
    overflow: hidden;
    margin-bottom: 3px;
    animation: PLACEHOLDER .25s forwards; }
  .form-builder-panel div.stage-panel div.list-group-item {
    padding: 6px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease-in-out;
    position: relative; }
    .form-builder-panel div.stage-panel div.list-group-item::after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden; }
    .form-builder-panel div.stage-panel div.list-group-item .container-item {
      min-height: 80px;
      width: 100%; }
      .form-builder-panel div.stage-panel div.list-group-item .container-item .fb-column {
        float: left;
        min-height: 80px;
        padding: 6px;
        margin-bottom: 5px;
        transition: background-color 0.3s ease-in-out;
        border: 1px solid #ddd; }
        .form-builder-panel div.stage-panel div.list-group-item .container-item .fb-column:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
        .form-builder-panel div.stage-panel div.list-group-item .container-item .fb-column:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; }
    .form-builder-panel div.stage-panel div.list-group-item .itemStyle label {
      font-size: 16px;
      font-weight: 400; }
    .form-builder-panel div.stage-panel div.list-group-item div.tool-tip {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0; }
      .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a {
        padding: 2px;
        color: #5c5c5c;
        font-size: 14px;
        opacity: 0.5;
        border-radius: 0; }
        .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a:first-child {
          border-bottom-left-radius: 4px; }
        .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a:last-child {
          border-top-right-radius: 4px; }
        .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a.del-button:hover {
          color: white;
          background-color: #c66865;
          opacity: 1; }
        .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a.edit-button:hover {
          color: white;
          background-color: #65aac6;
          opacity: 1; }
        .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a.copy-button:hover {
          color: white;
          background-color: #6fc665;
          opacity: 1; }
        .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a.move-button:hover {
          color: white;
          background-color: #5d5d5d;
          opacity: 1;
          cursor: move; }
        .form-builder-panel div.stage-panel div.list-group-item div.tool-tip a.move-button {
          top: auto; }
    .form-builder-panel div.stage-panel div.list-group-item:hover div.tool-tip {
      opacity: 1; }

.form-toolbar {
  width: 100%; }
  .form-toolbar .btn-toolbar {
    margin-bottom: 10px; }

.pull-right {
  float: right; }

.edit-control-modal {
  width: 90%; }

#left-stagetabs-control .modal-body {
  margin-bottom: 0px; }

#left-stagetabs-control .nav-pills {
  border-right: gray 1px solid;
  min-height: calc(100vh - 225px); }
  #left-stagetabs-control .nav-pills li.active {
    border-right: white 0px solid; }
    #left-stagetabs-control .nav-pills li.active a {
      color: #504343;
      background-color: white;
      border-color: gray;
      border-style: solid;
      border-right-width: 0px;
      border-left-width: 1px;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
      #left-stagetabs-control .nav-pills li.active a:hover {
        background-color: white; }
  #left-stagetabs-control .nav-pills li {
    margin: 0px -1px 0px 10px; }
    #left-stagetabs-control .nav-pills li a {
      border-radius: 0px; }
      #left-stagetabs-control .nav-pills li a:hover {
        background-color: #337ab7;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
